default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-check
  - repo: local
    hooks:
      - id: gen-cli-docs
        name: Generate CLI Docs
        entry: sst gen-cli-docs
        language: python
        pass_filenames: false
        always_run: false
        files: ^sat_save_tools/cli/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies: [prettier@latest]
        files: \.md$
        pass_filenames: true
